.content {
  margin: 10px;
}

.wrapperNavBar {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items: center;
    margin: 0 0 15px 0;
    
}
/*on mobile*/
#navBarLogoDiv {order:1; flex-basis:100%;}
#navBarInfoDiv {order:2; flex-basis:100%;}
/*on desktop*/
@media screen and (min-width:600px) {
   .wrapperNavBar {
       flex-wrap:nowrap;
   } 

    #navBarLogoDiv {
        flex-basis:200px;
        order:1;
    }
    #navBarInfoDiv {
        flex-basis:1;
        order:2;
    }
}

.wrapperBasicStats {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
    background-color: #fff;
    color: #444;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.basicStats {
    font-family: 'PT Mono', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.statDate {
    font-size: 5px;
}

.confirmedCasesLight {
    background-image: linear-gradient(45deg, #ff844f 0%, #f74a4a 60%);
}

.curedLight {
    background-image: linear-gradient(45deg, #8e52f7 0%, #1261ff 60%);
}

.deathsLight {
    background-image: linear-gradient(45deg, #aaa5b8 0%, #6b7587 60%);
}

.wrapperCharts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 10px 0px 0px 0px;
    color: #444;
    justify-content: space-between;
}

.chartsBox {
    
    font-family: 'PT Mono', monospace;
    background-image: linear-gradient(45deg, #a1bfff 0%, #ecadff 60%);
    border-radius: 5px; 
    font-size: 100%;
    flex: 50%;
    max-width: 100%;
    height: 350px;
    
    padding: 20px 20px 75px 20px;
}
#dataChart{
    height: 100%;
}
#predictionChart {
    height: 345px;
}

/*this is pretty shity solution to a creepy bug but i dont know how to solve it better*/
@media screen and (max-width:440px){
    .chartsBox {
        width: 78vw;
    }
    #navBarLogo {
        align-items: center;
        justify-content: center;
    }
    
}
@media screen and (max-width:600px){
    #predictionChart {
        height: 320px;
    }
    #dataChartDiv {
        height: 300px;
    }
}

#predictionConfig {
    display: none;
}
#customFixedValueConfig {
    display: none;
}
#continuousFromExistingDataConfig {
    display: none;
}

.chartControls{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center;
}
.showedInPredictionConfig{
    display: none;
}

@navbarHeight: 60px;
#navBar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;             /* establish flex container */
    align-items: center;       /* center ul container vertically */ (optional) */
    justify-content: space-between;
}


/*on mobile*/
.chartControls:nth-child(0) {order:0; flex-basis:100%;}
.chartControls:nth-child(1) {order:1; flex-basis:100%;}
.chartControls:nth-child(2) {order:1; flex-basis:100%;}
/*on desktop*/
@media screen and (min-width:600px) {
    .wrapperNavBar {
        margin: 0 0 10px 0;
    }
}

@media screen and (min-width:280px) {
   .chartControls {
       flex-wrap:nowrap;
       flex-direction:row;
   } 

    .chartControls:nth-child(0) {
        flex-basis:200px;
        order:0;
    }
    .chartControls:nth-child(1) {
        flex-basis:200px;
        order:1;
    }
    .chartControls:nth-child(2) {
        flex-basis:200px;
        order:1;
    }
}


#growthFactorChartConfig {
    display: none;
}

#daysToCalculateGrowthFactorOver{
    width: 50px;
}
#infectionGrowthFactorChart{
    height: 77%;
}
#growthFactorChartInfo{
    font-size: 14px;
}


.navBarItem {
    display: inline-block;
    color: black;
    
    padding: 0px 5px;
    text-decoration: none;
}


#navBarLogo {
    @elementHeight: 20px;
    padding: ((@navbarHeight - @elementHeight) / 2 - 2) 20px ((@navbarHeight - @elementHeight) / 2 + 2);
    line-height: 0px;
    display: flex;             /* establish flex container */
    align-items: center;       /* center ul container vertically */ (optional) */
    justify-content: space-between;
}

.navBarLogoPart {
    font-family: 'PT Mono', monospace;
    display: inline-block;
    padding: 0px 0px 0px 5px;
}

#navBarGithubIcon {
    @elementHeight: 20px;
    padding: ((@navbarHeight - @elementHeight) / 2 - 1) 10px ((@navbarHeight - @elementHeight) / 2 + 1);
    line-height: 19px;
}

.oneColorIconLight {
    -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
    filter: invert(1);
}

.right {
    margin-left: auto;
}

.footer {
    margin: 8px 0 0 0;
    background-image: linear-gradient(45deg, #a1bfff 0%, #ecadff 60%);
    color: #444;
    text-align: left;
    padding:0px 10px;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
}

#probabilityOfBeingInfectedToday {
    font-size: 5vw;
}

@media screen and (min-width: 840px) {
    #probabilityOfBeingInfectedToday {
        font-size: 28px;
    }
}

/* ABOUT.HTML */
.mathExpressionImg {
    width: 100%;
    max-width: 420px;
}
.longMathExpressionImg {
    width: 100%;
    max-width: 777px;
}
.smallMathExpressionImg{
    width: 30%;
    max-width: 120px;
}
.functionDescription {
    margin: 0 0 0 25px;
}
.codebox {
        /* Below are styles for the codebox (not the code itself) */
        border:1px solid black;
        background-color:#EEEEFF;
        max-width:666px;
        overflow:auto;    
        padding:10px;
        margin: 15px;
}
